
@{
    ViewBag.Title = "AddAuthor";
}

<div>
    <h3>New Author</h3>
    
    <form method="post" action="">
        <p>First name:</p>
        <input type="text" name="first_name"/><br /><br />
        
        <p>Last name:</p>
        <input type="text" name="last_name" /><br /><br />
        
        <p>DOB:</p>
        <input type="date" name="DOB"/><br /><br />

        <p>Information:</p>
        <textarea name="info" class="inputInfo"></textarea><br/><br/>

        <input type="submit" name="ok" value="OK"/>
        <input type="submit" name="cancel" value="Cancel"/>
    </form>

</div>
