
@{
    ViewBag.Title = "Authors";
}
<div>
    <h3>Authors</h3>
    <table>
        <tr>
            <td><p>Name</p></td>
            <td><p>DOB</p></td>
            <td><p>Information</p></td>
        </tr>
        @foreach (var a in ViewBag.Authors)
        {
            <tr>
                <td><p>@a.first_name @a.last_name</p></td>
                <td><p>@a.DOB.ToShortDateString()</p></td>
                <td><p>@a.info</p></td>
            </tr>
        }
    </table>
</div>


