
@{
    ViewBag.Title = "ConfirmDeleteAuthor";
}

@model ASP_Test.Models.ConfirmDeleteAuthorViewModel
<div>
    <h3>Remove this author?</h3>
    <p>@Model.ErrorMessage</p>
    <form method="post" action="..\ConfirmDeleteAuthor">
        @if (Model.ErrorMessage.Equals(""))
        {
            <input type="hidden" value="@Model.AuthorId" name="id" />
            <p>Do you want to remove @Model.AuthorName, all his books and all that book's sales?</p>
            <input type="submit" name="ok" value="OK" />
            <input type="submit" name="cancel" value="Cancel" />
        }
    </form>
</div>

